html {
    background-color: bisque;
    max-width: 100vw;
}
body {
    overflow: overlay;
    overflow-x: hidden;
}
a {
    color: bisque;
    font-weight: 300;
    transition: color 1s ease;
}
a:hover {
    color: #ffbc6b;
    transition: color 1s ease;
}
p {
    font-weight: 100;
}

.img-container {
    background-image: url('Images/bg.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    min-height: 130px;
}
@media screen and (min-width: 800px) {
    .navbar-brand {
        font-size: 3rem;
        padding-left: 15px; 
        padding-right: 10vw;
        margin-top: -20px;
    }
    .navbar-nav {
        font-size: 1.5rem;
        margin-top: -35px;
    }
}
@media screen and (min-width: 1440px) {
    .navbar-brand {
        font-size: 5rem;
        padding-left: 30px; 
        padding-right: 10vw;
        margin-top: 10px;
    }
    .navbar-nav {
        font-size: 2.5rem;
        margin-top: 5px;
    }
}
.nav-item {
    padding-right: 1vw;
}
.nav {
    color: bisque;
}
.dropdown .dropdown-menu {
    background-color: bisque;

    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}
.dropdown-menu {
    margin-top: 0;
}
@media screen and (min-width: 800px) {
    .dropdown-item {
        color: #33373d;
        font-size: 2rem;
    }
}
@media screen and (min-width: 1440px) {
    .dropdown-item {
        color: #33373d;
        font-size: 1rem;
    }
}
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown:hover > #down-arrow {
    transform: rotate(180deg);
    border-top-color: #ffbc6b;

    transition: all 1s ease;
}
.intro-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    margin-left: 5vw;

    font-weight: 100;
    color: #33373d;
    opacity: 0;
}
.interest-graphic {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    width: 30vw;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loading-bar {
    color: bisque;

    position: absolute;
    display: flex;
    text-align: center;
    margin-left: 50%;
}
@media screen and (min-width: 800px) {
    .loading-bar {
        font-size: 4rem;
        width: 530px;
        bottom: 20px;
        transform: translateX(-265px);
    }
}
@media screen and (min-width: 1440px) {
    .loading-bar {
        font-size: 2.5rem;
        width: 354px;
        bottom: 0px;
        transform: translateX(-177px);
    }
}
.fade-out {
    opacity: 0;
    transition: opacity 1s linear;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

@media screen and (min-width: 800px) {
    #down-arrow {
        width: 0; 
        height: 0; 

        border-left: 0.5vw solid transparent;
        border-right: 0.5vw solid transparent;
        border-top: 0.5vw solid;
        border-top-color: bisque;

        transition: border-top-color 1s ease, transform 1s ease;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: slategray;
}